@import "styles/styles.scss";

.home-page-container {
  padding-top: 8em;
  padding-bottom: 4em;
  background: $distribute-yellow;

  .landing-hero {
    svg {
      width: 100%;
    }
  }

  .landing-intro {
    padding-top: 2em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }
}
