@import "styles/styles.scss";

.home-page-container {
  padding-top: 5em;
  padding-bottom: 4em;
  background: $distribute-yellow;

  .landing-hero {
    .hero-image {
      position: relative;
      margin-bottom: 15em;
      svg {
        position: absolute;
        width: 100%;
      }
    }
  }

  .landing-intro {
    padding-top: 2em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }
}
